{% extends "base.html" %}

{% block content %}
<h1>Записи в блоге</h1>
{% for item in lessons%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div class="text_block">
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}

        <div class="text_block2">{{item.rate}} &#9733</div>
    </div>
    <a href="/lesson/{{ item.id }}">Посмотреть</a>
</div>
{% endfor %}
<div align="center">{{visits}}</div>
{% endblock %}