{% extends "base.html" %}

{% block content %}
<br>
<form action="" method="post">
    <div style="float: left; width: 93.5%">{{ search.search(class="form-control") }}</div>
    <div style="float: right; width: 6.5%">{{ search.select(type="submit", class="btn btn-primary")
        }}
    </div>
    {% for error in search.search.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
</form>
<h1>Популярное</h1>
{% for item in lessons%}
<div class="col-md6 border rounded">
    <h2 style="float: left; width: 50%; padding-left: 10px">{{item.title}}</h2>
    <h3 style="float: right; width: 50%; padding-right: 20px" align="right">
        <a href="/profile/{{ item.user.name }}" class="url1">{{item.user.name}}</a>
    </h3>
    <div style="float:left; width: 100%; padding-left: 10px">
        {{item.content}}
    </div>
    <div style="padding-left: 10px">
        Дата написания - {{item.created_date}}
    </div>
    <div style="float: right; width: 10%; font-size: 21px; padding-right: 20px" align="right">
        {% if item.rates_count>0%}
        {{item.rate}} &#9733
        {% else %}
        - &#9733
        {% endif %}
    </div>
    <div>
        <form action="/estimate/{{ item.id }}" method="post" enctype="multipart/form-data">
            <input class="rate_text" type="submit" value="оценить">
        </form>
    </div>
    <div class="text3" style="font-size: 21px; padding-left: 10px">
        <div>
            <a href="/lesson/{{ item.id }}">Посмотреть</a>
            {% if current_user.is_authenticated and current_user.id!=item.user_id%}
            {% if item.id in favourites_ids%}
            <a class="text1" href="/delete_favourites/{{ item.id }}">Удалить из избранного</a>
            {% else %}
            <a class="text1" href="/add_favourites/{{ item.id }}">Добавить в избранное</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% if lessons_now_count>limit%}
<a href="/limit">{{ search.further(type="submit", class="btn btn-primary") }}</a>
{% endif %}
{% if FirstResult>0%}
<a href="/back">{{ search.back(type="submit", class="btn btn-primary") }}</a>
{% endif %}
{% endblock %}