{% extends "base.html" %}

{% block content %}
<br>
<form action="" method="post">
    {{ search.search(class="form-control") }}
    {{ search.select(type="submit", class="btn btn-primary") }}
    {% for error in search.search.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
</form>
<h1>Популярное</h1>
{% for item in lessons%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
        {{item.rate}} &#9733
    </div>
    <a href="/lesson/{{ item.id }}">Посмотреть</a>
</div>
{% endfor %}
    <a href="/limit">{{ search.further(type="submit", class="btn btn-primary") }}</a>
{% endblock %}